body {
  font-family: Archivo,sans-serif;
  font-size: .875rem;
  line-height: 1.5;
  background: #f2f3f8;
  color: #304156;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
